<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="slide" class="carousel slide myslide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                    <li data-target="#slide" data-slide-to="1"></li>
                    <li data-target="#slide" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner carinner" role="listbox">
                    <div class="carousel-item active caritem">
                        <img src="/image/slideshow/lazada-slide.jpg" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/tiki-slide.jpg" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/shopee-slide.png" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/sendo-slide.png" alt="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex flex-column justify-content-between right">
            <div>
                <img src="/image/news/right1.png" alt="">
            </div>
            <hr>
            <div>
                <img src="/image/news/right2.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="container">
        <div class="category-index">
            <h5>Tấc Cả Danh Mục</h5>
        </div>
            <div class="row flex-wrap">
                {{#each categories}}
                <div class="category d-flex justify-content-center flex-column">
                    <div>
                        <a href="/products?parent={{id}}" class="align-self-center">
                            <img src="{{icon}}" height="70px">
                        </a>
                    </div>
                    <p>{{name}}</p>
                </div>
                
                {{/each}}
            </div>
        </div>
    </div>
<hr>
    {{#if isAuth}}
        <div style="margin-top: 20px;">
            {{#if haveRecommendCategory}}
                <h6>GỢI Ý THEO DANH MỤC</h6>
                <div class="row">
                    {{#each list_recommend_category}}
                        <a class="deal-item card col" style="margin: 10px;" href="/products/{{id_match}}">
                            
                            <div class="image">
                                <img src={{Image}}>
                            </div>
                            <div style="margin-top: 10px;">
                                
                                <p class="title">{{Name}}</p>
                                <p><strong>{{priceString}} đ</strong></p>
                            </div>
                        </a>
                    {{/each}}
                </div>
                <hr>
            {{/if}}
        </div>
        
        <div style="margin-top: 20px;">
            {{#if haveRecommendShop}}
                <h6>GỢI Ý THEO SHOP BẠN ĐÃ XEM</h6>
                <div class="row">
                    {{#each list_recommend_shop}}
                        <a class="deal-item card col" style="margin: 10px;" href="/products/{{id_match}}">
                            
                            <div class="image">
                                <img src={{Image}}>
                            </div>
                            <div style="margin-top: 10px;">
                                
                                <p class="title">{{Name}}</p>
                                <p><strong>{{priceString}} đ</strong></p>
                            </div>
                        </a>
                    {{/each}}
                </div>
                <hr>
            {{/if}}
        </div>
    {{/if}}
</div>


