<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="slide" class="carousel slide myslide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                    <li data-target="#slide" data-slide-to="1"></li>
                    <li data-target="#slide" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner carinner" role="listbox">
                    <div class="carousel-item active caritem">
                        <img src="/image/slideshow/lazada-slide.jpg" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/tiki-slide.jpg" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/shopee-slide.png" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/sendo-slide.png" alt="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex flex-column justify-content-between right">
            <div>
                <img src="/image/news/right1.png" alt="">
            </div>
            <hr>
            <div>
                <img src="/image/news/right2.png" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                {{#each categorys}}
                <div class="col-3">
                    <div>
                        <a href="http://localhost:3000/products?parent={{id}}&cate={{id}}">
                            <img src="{{icon}}" height="70px">
                        </a>
                    </div>
                    <p>{{name}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
<hr>
    {{#if isAuth}}
        <div style="margin-top: 20px;">
            <h5>SẢN PHẨM GỢI Ý</h5>
            <div class="row">
                {{#each list_recommned}}
                    <div class="col-3">
                        <a href={{url_key}}>
                            <img height="200px" width="100%" src={{images}}>
                        </a>
                        <div style="margin-top: 10px;">
                            <span>{{name}}</span>
                            <p><strong>{{price}} đ</strong></p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>


<hr>