{{#section 'css'}}

{{/section}}
{{#section 'js'}}
<script>
   $('.list-product-promotion-bought').on('click', function(){

   })
</script>
<script>
  $('.modelFindMore').on('hidden.bs.modal', function(event) {
    $('.checkbox').prop('checked', false);
  });
    $('.checkbox').change(function() {
      let id = $(this).attr('id');
      let selected = [];
      console.log(id);
      let minPrice = $('#minPrice').val()+'₫';
      minPrice = +convertPriceToInt(minPrice);
      let firstPrice = $('#firstPrice').val()+'₫';
      let finalPrice = +convertPriceToInt(firstPrice);

      console.log(minPrice);
      console.log(finalPrice);
      $('input:checked').each(function() {
        selected.push($(this).attr('id'));
      });

      for(x of selected)
      {
        let price = $('#price-product-promotion' + x + ' p').html();
        finalPrice += +convertPriceToInt(price)
      }
      $('.finalPrice').html(converPrice(finalPrice)+'₫')
      console.log(selected);
      if(finalPrice >= minPrice)
      {
        $('.applyFindMore').prop('disabled', false);
      }

      $('.applyFindMore').on('click', function(e){
        $('.list-product-promotion-bought').html(`+${selected.length} sản phẩm`).show();
        $('.finalPrice').html(firstPrice)
        
      });
    });

      $('.applyFindMore').on('click', function(e){
      let id = e.target.id;
      let promotion = $('.promotion'+ id);
      let newPrice = 0;
      let finalPrice = $('.finalPrice').html();
      
      finalPrice = +convertPriceToInt(finalPrice);
      console.log(finalPrice);
      let discount = $('.discount'+ id).val();
      if(+discount < 100)
      {
        let maxOrder = $('#maxOrder').val();
        newPrice = finalPrice - (+maxOrder);  
      }
      else
      {
        newPrice = finalPrice - (+discount);
      }
      let idItem = promotion.attr('id');
      $('#price' + idItem + ' .sale-price').html(converPrice(newPrice)+'₫');
      $('#price' + idItem + ' .old-price').html(converPrice(finalPrice)+'₫');
      $('#price' + idItem + ' .old-price').addClass('line-through');
    })

  function converPrice(price)
  {
    let tmp = price.toString();

    for(let i = tmp.length - 3; i > 0; i = i - 3)
    {
        tmp = tmp.slice(0, i) + "." + tmp.slice(i, tmp.length);
    }

    return tmp;
  }

  function convertPriceToInt(price)
  {
    price = price.substring(0,price.length-1);
    price = price.replaceAll('.', '');
    return price;
  }
</script>
<script>
    $('.apply').on('click', function(e){
      let id = e.target.id;
      let promotion = $('.promotion'+ id);
      let idItem = promotion.attr('id');
      let newPrice = $('.newPrice'+id).val();
      $('#price' + idItem + ' .sale-price').html(newPrice+'₫');
      $('#price' + idItem + ' .old-price').addClass('line-through');
    })
    $('.findMore').on('click', function(e){

    })
</script>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    centeredSlides: false,
  });
</script>
<script>
  $(document).ready(function () {
    let order = "{{order}}";
    let webFilter = "{{webFilter}}";
    let rating = "{{rating}}"
    $("input[name=order][value=" + order + "]").prop('checked', true);
    $("input[name=website][value=" + webFilter + "]").prop('checked', true);
    $("input[name=rating][value=" + rating + "]").prop('checked', true);

    $('.filter-category li input').on('click', function(e){
      let order = $('input[name=order]:checked').val();
      let webFilter = $('input[name=website]:checked').val();
      let rating = $('input[name=rating]:checked').val();
      const idMatch = "{{idMatch}}"
      order = order ? order : "{{order}}";
      webFilter = webFilter ? webFilter : "{{webFilter}}";
      rating = rating ? rating : "{{rating}}"
      let newUrl = `http://localhost:3000/products/${idMatch}?order=${order}&webFilter=${webFilter}&rating=${rating}`;
      location.href = newUrl;
    });

    $('.head i').on('click', function(){
      $("input[name=order][value=" + 0 + "]").prop('checked', true);
      $("input[name=website][value=" + 0 + "]").prop('checked', true);
      $("input[name=rating][value=" + 0 + "]").prop('checked', true);

      const idMatch = "{{idMatch}}"
      let newUrl = `http://localhost:3000/products/${idMatch}`;
      location.href = newUrl;
    })

    $('.example-popover').popover({
      container: 'body'
  })
  });
</script>

{{/section}}
<div class='container'>
  <div class='row'>
    <div class='side-bar col-2'>
       <div class='head d-flex justify-content-around'>
        <h5>Bộ lọc tìm kiếm</h5>
        <i class="fas fa-sync-alt mt-2" data-toggle="tooltip" data-placement="right" title="Reset"></i>
      </div>
      <ul class='filter-category'>
        <h6>Sắp xếp</h6>
        <li><input type='radio' name="order" value="1"/>
          <label>Khuyến mãi</label>
        </li>
       <li>
          <input type="radio" name="order" value="2">
          <label>Giá tăng dần</label>
        </li>
        <li>
          <input type="radio" name="order" value="3">
          <label>Giá giảm dần</label>
        </li>
        <br />
        <h6>Trang web</h6>
        <li><input type='radio' name="website" value="1"/>
          <label>Sendo</label>
        </li>
        <li><input type='radio' name="website" value="2"/>
          <label>Tiki</label>
        </li>
        <li><input type='radio' name="website" value="3"/>
          <label>Shopee</label>
        </li>
        <li><input type='radio' name="website" value="4"/>
          <label>Lazada</label>
        </li>
        <br />
        <h6>Rating người dùng</h6>
        <li><input type='radio' name="rating" value="1"/>
          <label>Tăng dần</label>
        </li>
        <li><input type='radio' name="rating" value="2"/>
          <label>Giảm dần</label>
        </li>
      </ul>
    </div>
    <!-- end side-bar -->
    <div class='product-listing col-10'>
      <div class='items'>
          <div class='initial-content'>
            {{#each matchedItems}}
            <div class='row item-matching'>
              <div class='col-4'>
                <a class='deal-item' href={{Url_key}} target='_blank' data-toggle="tooltip" title=" --> Đến nơi bán">
                  <div class='image'>
                    <img class='lazy' style='display: inline;' src='{{Image}}' />
                  </div>
                </a>
              </div>
              <div class='col-8 my-4 info-item d-flex flex-column justify-content-between'>
                <div class="top d-flex justify-content-between">
                  <div class="nameProduct">
                    <a href={{Url_key}} target='_blank' data-toggle="tooltip" title=" --> Đến nơi bán">
                      <h5>
                        {{Name}}
                      </h5>
                    </a>
                  </div>
                  <div class='div-icon-market'>
                    {{#compare NguonDuLieu 1 operator="=="}}
                    <img class='icon-market' src='/image/img-product/sendo.jpeg' alt='' />
                    {{/compare}}
                    {{#compare NguonDuLieu 2 operator="=="}}
                    <img class='icon-market' src='/image/img-product/tiki.jpg' alt='' />
                    {{/compare}}
                    {{#compare NguonDuLieu 3 operator="=="}}
                    <img class='icon-market' src='/image/img-product/shopee.jpg' alt='' />
                    {{/compare}}
                    {{#compare NguonDuLieu 4 operator="=="}}
                    <img class='icon-market' src='/image/img-product/lazada.jpeg' alt='' />
                    {{/compare}}
                  </div>
                </div>
                 

                  <div class="container testimonial-group" >
                    <div class="row text-center flex-nowrap testtest"> 
                          {{#each promotion}}

                          <input type="hidden" class="discount{{id}}" value="{{discount_amount}}">
                          <input type="hidden" class="newPrice{{id}}" value="{{newPrice}}">
                            <div class="col-sm-3-promotion promotion-item" id="pro{{id}}" data-container="body"  data-toggle="popover" data-placement="top" title="Click để biết thêm thông tin"
                  data-content="sao k hien">
                              <button type="button" id="{{../id}}" class="button-promotion promotion{{id}}" data-toggle="modal" data-target="#myModal{{id}}"> {{title}} </button>
                            </div>  

                            <div class="modal fade" id="myModal{{id}}">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header" style="background-color: aquamarine;">
                                  <h5 class="modal-title">Chi tiết khuyến mãi</h5>
                                  <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                
                                <!-- Modal body -->
                                {{#compare isPercent false operator="=="}}
                                  <div class="modal-body" style="height: 55px; font-size: 18px; color:coral">
                                    <b>{{title}} cho đơn hàng từ {{minOrderAmount}}₫</b>
                                  </div>
                                {{/compare}}
                                {{#compare isPercent true operator="=="}}
                                  <div class="modal-body" style="height: 55px; font-size: 18px; color:coral">
                                     <b>{{title}} tối đa {{maxOrderAmount}} cho đơn hàng từ {{minOrderAmount}}₫</b>
                                  </div>
                                {{/compare}}
                                {{#compare start_date "1/1/2001" operator="=="}}
                                  <div class="okok" style="text-align: left; padding-left: 18px">
                                    Áp dụng từ hôm nay đến ngày <b>{{expiry_date}}</b>
                                  </div>
                                {{/compare}}
                                {{#compare start_date "1/1/2001" operator="!="}}
                                  <div class="okok" style="text-align: left; padding-left: 18px">
                                    Áp dụng từ ngày <b>{{start_date}}</b> đến ngày <b>{{expiry_date}}</b>
                                  </div>
                                {{/compare}}
                                <!-- Modal footer -->
                                
                                  {{#compare countOfItemApply 1 operator="=="}}
                                  <div class="modal-footer">
                                     <button type="button" id="{{id}}" class="btn btn-danger apply" data-dismiss="modal">Áp dụng</button>
                                     </div>
                                {{/compare}}
                                  {{#compare countOfItemApply 1 operator="!="}}
                                  <div class="modal-footer justify-content-between">
                                  <span class="align-self-start"><i>*giá trị sản phẩm chưa đủ điều kiện</i></span>
                                     <button type="button" id="{{id}}" class="btn btn-danger findMore" data-dismiss="modal" data-toggle="modal" data-target="#modelFindMore{{id}}">Tìm Thêm Sản Phẩm</button>
                                     </div>
                                {{/compare}}
                                
                              </div>
                            </div>

                            </div>
                            <div class="modal fade modelFindMore" id="modelFindMore{{id}}">
                              <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                
                                  <!-- Modal Header -->
                                  <div class="modal-header" style="background-color: aquamarine;">
                                    <h5 class="modal-title">Chọn thêm sản phẩm để áp dụng mã khuyến mãi</h5>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                  </div>
                                  
                                  <!-- Modal body -->
                                  
                                    <div class="modal-body" style="max-height: 520px;">
                                      <div class="shop-info">
                                        <div class="row align-items-end">
                                          <div class="shop-logo icon-market">
                                            <img src="{{../Seller_Logo}}" alt="">
                                          </div>
                                          <div class="shop-name " style=" font-size: 14px; color:rgb(71, 71, 71)">
                                            <span>{{../Seller_Name}}</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="list-product-promotion">
                                        <hr>
                                        <div class="row">
                                          <div class="col-1">
                                            <input class="checkbox" id="1" type="checkbox">
                                          </div>
                                          <div class="col-4 image-product-promotion">
                                            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/92/75/ea/fa6d95e3fb1a69e9610177cd1ea02f03.png" alt="">
                                          </div>
                                          <div class="col-7 d-flex justify-content-around flex-column">
                                            <div class="name-product-promotion">
                                              name
                                            </div>
                                            <div class="price-product-promotion" id="price-product-promotion1">
                                              <p>1000.000₫</p>
                                            </div>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-1">
                                            <input class="checkbox" id="2" type="checkbox">
                                          </div>
                                          <div class="col-4 image-product-promotion">
                                            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/92/75/ea/fa6d95e3fb1a69e9610177cd1ea02f03.png" alt="">
                                          </div>
                                          <div class="col-7 d-flex justify-content-around flex-column">
                                            <div class="name-product-promotion">
                                              name
                                            </div>
                                            <div class="price-product-promotion" id="price-product-promotion2">
                                              <p>1000.000₫</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                      </div>
                                   
                               
                                    </div>
                                  <!-- Modal footer -->
                                  
                                    {{#compare 1 1 operator="=="}}
                                    <div class="modal-footer">
                                      <input type="hidden" name="firstPrice" id="firstPrice" value={{../priceString}}>
                                      <input type="hidden" name="minPrice" id="minPrice" value={{min_order_amount}}>
                                      <input type="hidden" name="maxOrder" id="maxOrder" value={{max_order_amount}}>
                                      <span><i>Tổng tiền: <b class="finalPrice">{{../priceString}}₫ </b></i></span>
                                      <button type="button" id="{{id}}" class="btn btn-danger applyFindMore" data-dismiss="modal" disabled>Áp dụng</button>
                                    </div>
                                  {{/compare}}
                                  
                                </div>
                              </div>
                            </div>
                          {{/each}}
                    </div>
                  </div>
                
                <div class="bottom d-flex justify-content-between">
                  <div class="list-product-promotion-bought" style="font-size: 16px; padding: 5px; border: 1px solid rgb(153, 71, 33)">

                  </div>
                  <div class='price' id="price{{id}}">
                    <span class="old-price" style="padding-right: 15px;">
                      {{priceString}}₫
                    </span> 
                    <span class="sale-price">
                    </span> 
                  </div>
                  <div class="rating">
                    <div class="value-rating d-flex justify-content-center">
                      <span class="text-center">{{avg_rating}}/5</span>
                    </div>
                    
                    <div class="star-rating">
                      <div class="back-stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                          
                        <div class="front-stars" style="width: {{star}}%">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>    
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          <div class='content-placeholder'>

          </div>

      </div>
    </div>
  </div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js'></script>

{{!-- <script>jQuery.noConflict();</script>
<script>
  jQuery(function ($) {
    $(document).ready(function () {
      var matchedItems = {{{ json matchedItems }}};
  function compileSelectedItems(orderedMatchedItems) {
    //console.log(orderedMatchedItems)
    //console.log(orderedMatchedItems)
    var context = { items: orderedMatchedItems }
    //console.log(orderedMatchedItems)
    //var template = Handlebars.compile($("#ordered-matched-items-html").html());
    //var compiledHtml = template({items: orderedMatchedItems});
    var lines = ``
    jQuery.each(context.items, function (i, val) {
      var line = `
                    <div class='row'>
                <div class='col-6'>
                  <a
                    class='deal-item'
                    href=${val.url_key}
                    target='_blank'
                    data-id='6836987'
                    data-title='Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên'
                    data-brand=''
                    data-price='10000'
                    data-impresslistname='Deal Hot'
                    data-impressposition='1'
                  >
                    <div class='image'>
                  
                      <img
                        class='lazy'
                        style='display: inline;'
                        src=${val.images}
                      />
                    </div>
                  </a>
                </div>
                <div class='col-6 row'>
                  <div class='title'>
                    <img
                      class='icon-tikinow1'
                      src=
                      alt=''
                    />
                    <div>
                      <a
                        href='https://tiki.vn/so-tay-tu-vung-120-trang-7-6-x-13-mau-ngau-nhien-p6836987.html?spid=6836989&amp;src=deal-hot&amp;2hi=1'
                      >${val.name}</a>

                    </div>

                  </div>
                  <div class='price-sale'>
                    ${val.price}
                    ₫
                  </div>
                </div>
              </div>`
      lines = lines.concat(line)
    })
    return lines
  }
  $('input:checkbox').click(function () {
    //console.log($(this).attr('class'))
    if ($(this).attr('class') != '' && $(this).attr('class') === 'price') {
      $('.price').not(this).prop('checked', false);
      if ($(this).attr('id') === 'increased-price') { //price increased sorting
        matchedItems.sort((p1, p2) => (p1.price > p2.price ? 1 : -1))
      }
      if ($(this).attr('id') === 'decreased-price') {
        matchedItems.sort((p1, p2) => (p1.price < p2.price ? 1 : -1))
      }
      $('.initial-content').hide()
      //console.log(matchedItems)
      newLines = compileSelectedItems(matchedItems)
      $('.content-placeholder').empty().append(newLines);
    }
    if ($(this).attr('class') != '' && $(this).attr('class') === 'website') {
      $('.website').not(this).prop('checked', false);
      var selectedWebsite = $(this).attr('id')
      matchedItems.filter(web => web === selectedWebsite)
      //console.log(matchedItems) newLines = compileSelectedItems(matchedItems)
      if ($('.content-placeholder').not(':empty')) {
        console.log($('.content-placeholder').not(':empty'))
        $('.content-placeholder').empty().append(newLines);
      } else {
        $('.content-placeholder').append(newLines)
      }
    }
    if ($(this).attr('class') != '' && $(this).attr('class') === 'website') {
      $('.promotion').not(this).prop('checked', false);
    }
    if ($('input:checkbox:checked').length == 0) {
      //console.log('default')
      $('.initial-content').show(); $('.content-placeholder').hide();
    }
  }); 
      });
  });
</script> --}}

