<div class='container'>
  <div class='row'>
    <div class='side-bar col-2'>
       <div class='head d-flex justify-content-around'>
        <h5>Bộ lọc tìm kiếm</h5>
        <i class="fas fa-sync-alt mt-2" data-toggle="tooltip" data-placement="right" title="Reset"></i>
      </div>
      <ul class='filter-category'>
        <h6>Sắp xếp</h6>
        <li><input type='radio' name="order" value="1"/>
          <label>Khuyến mãi</label>
        </li>
       <li>
          <input type="radio" name="order" value="2">
          <label>Giá tăng dần</label><br>
        </li>
        <li>
          <input type="radio" id="priceDes" name="order" value="3">
          <label>Giá giảm dần</label><br>
        </li>
        <br />
        <h6>Trang web</h6>
        <li><input type='radio' name="website" value="1"/>
          <label>Sendo</label>
        </li>
        <li><input type='radio' name="website" value="2"/>
          <label>Tiki</label>
        </li>
        <li><input type='radio' name="website" value="3"/>
          <label>Shopee</label>
        </li>
        <li><input type='radio' name="website" value="4"/>
          <label>Lazada</label>
        </li>
      </ul>
    </div>
    <!-- end side-bar -->
    <div class='product-listing col-10'>
      <div class='items'>
          <div class='initial-content'>
            {{#each matchedItems}}
            <div class='row item-matching'>
              <div class='col-4'>
                <a class='deal-item' href={{url_key}} target='_blank' data-id='6836987'
                  data-title='Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên' data-brand='' data-price='10000'
                  data-impresslistname='Deal Hot' data-impressposition='1'>
                  <div class='image'>
                    <img class='lazy' style='display: inline;' src='{{images}}' />
                  </div>
                </a>
              </div>
              <div class='col-8 my-4 info-item d-flex flex-column justify-content-between'>
                <div class="top d-flex justify-content-between">
                  <div class="nameProduct">
                    <a href={{url_key}} target='_blank'>
                      <h5>
                        {{name}}
                      </h5>
                    </a>
                  </div>
                  <div class='div-icon-market'>
                    {{#compare nguondulieu 1 operator="=="}}
                    <img class='icon-market' src='/image/img-product/sendo.jpeg' alt='' />
                    {{/compare}}
                    {{#compare nguondulieu 2 operator="=="}}
                    <img class='icon-market' src='/image/img-product/tiki.jpg' alt='' />
                    {{/compare}}
                    {{#compare nguondulieu 3 operator="=="}}
                    <img class='icon-market' src='/image/img-product/shopee.jpg' alt='' />
                    {{/compare}}
                    {{#compare nguondulieu 4 operator="=="}}
                    <img class='icon-market' src='/image/img-product/lazada.jpeg' alt='' />
                    {{/compare}}
                  </div>
                </div>
                 
                <div class="promotion mySwiper">
                  <div class="swiper-wrapper">
                    {{#each promotion}}
                      <div class="swiper-slide">
                        <button class="button-promotion"> {{title}} </button>
                      </div>
                    {{/each}}
                  </div>
                  
                  {{!-- {{#each promotion}}
                    <div class="row promotion-div">
                      <div class="col-2">
                        <button class="button-promotion"> {{title}} </button>
                      </div>
                      <div class="col-10">
                        <p>Chỉ còn <span style="color: blue;">{{newPrice}}</span> đ</p>
                        <p style="font-size: 10px;">Mua {{countOfItemApply}} sản phẩm trở lên để áp dụng mã</p>
                      </div>
                   </div>
                  {{/each}} --}}
                </div>
                
                <div class="bottom d-flex justify-content-between">
                  <div class='price-sale'>
                    {{priceString}}
                    ₫
                  </div>
                  <div class="rating">
                    <div class="value-rating d-flex justify-content-center">
                      <span class="text-center">{{avg_rating}}/5</span>
                    </div>
                    
                    <div class="star-rating">
                      <div class="back-stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                          
                        <div class="front-stars" style="width: {{star}}%">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>    
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          <div class='content-placeholder'>

          </div>

      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js'></script>

<script>jQuery.noConflict();</script>
<script>
  jQuery(function ($) {
    $(document).ready(function () {
      var matchedItems = {{{ json matchedItems }}};
  function compileSelectedItems(orderedMatchedItems) {
    //console.log(orderedMatchedItems)
    //console.log(orderedMatchedItems)
    var context = { items: orderedMatchedItems }
    //console.log(orderedMatchedItems)
    //var template = Handlebars.compile($("#ordered-matched-items-html").html());
    //var compiledHtml = template({items: orderedMatchedItems});
    var lines = ``
    jQuery.each(context.items, function (i, val) {
      var line = `
                    <div class='row'>
                <div class='col-6'>
                  <a
                    class='deal-item'
                    href=${val.url_key}
                    target='_blank'
                    data-id='6836987'
                    data-title='Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên'
                    data-brand=''
                    data-price='10000'
                    data-impresslistname='Deal Hot'
                    data-impressposition='1'
                  >
                    <div class='image'>
                  
                      <img
                        class='lazy'
                        style='display: inline;'
                        src=${val.images}
                      />
                    </div>
                  </a>
                </div>
                <div class='col-6 row'>
                  <div class='title'>
                    <img
                      class='icon-tikinow1'
                      src=
                      alt=''
                    />
                    <div>
                      <a
                        href='https://tiki.vn/so-tay-tu-vung-120-trang-7-6-x-13-mau-ngau-nhien-p6836987.html?spid=6836989&amp;src=deal-hot&amp;2hi=1'
                      >${val.name}</a>

                    </div>

                  </div>
                  <div class='price-sale'>
                    ${val.price}
                    ₫
                  </div>
                </div>
              </div>`
      lines = lines.concat(line)
    })
    return lines
  }
  $('input:checkbox').click(function () {
    //console.log($(this).attr('class'))
    if ($(this).attr('class') != '' && $(this).attr('class') === 'price') {
      $('.price').not(this).prop('checked', false);
      if ($(this).attr('id') === 'increased-price') { //price increased sorting
        matchedItems.sort((p1, p2) => (p1.price > p2.price ? 1 : -1))
      }
      if ($(this).attr('id') === 'decreased-price') {
        matchedItems.sort((p1, p2) => (p1.price < p2.price ? 1 : -1))
      }
      $('.initial-content').hide()
      //console.log(matchedItems)
      newLines = compileSelectedItems(matchedItems)
      $('.content-placeholder').empty().append(newLines);
    }
    if ($(this).attr('class') != '' && $(this).attr('class') === 'website') {
      $('.website').not(this).prop('checked', false);
      var selectedWebsite = $(this).attr('id')
      matchedItems.filter(web => web === selectedWebsite)
      //console.log(matchedItems) newLines = compileSelectedItems(matchedItems)
      if ($('.content-placeholder').not(':empty')) {
        console.log($('.content-placeholder').not(':empty'))
        $('.content-placeholder').empty().append(newLines);
      } else {
        $('.content-placeholder').append(newLines)
      }
    }
    if ($(this).attr('class') != '' && $(this).attr('class') === 'website') {
      $('.promotion').not(this).prop('checked', false);
    }
    if ($('input:checkbox:checked').length == 0) {
      //console.log('default')
      $('.initial-content').show(); $('.content-placeholder').hide();
    }
  }); 
      });
  });
</script>

<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    centeredSlides: false,
  });
</script>