{{#section 'js'}}
<script>
  $(document).ready(function () {
      let parent_id = $('#parentCategoryId').attr('data-id')
      
      $('.filter-category li input').on('click', function(e){
      
      let cate = $('input[name=category]:checked').val();
      let webFilter = $('input[name=website]:checked').val();
      let priceFilter = $('input[name=price]:checked').val();

      const key = "{{key}}"

      cate = cate ? cate : "{{cate}}";
      webFilter = webFilter ? webFilter : "{{webFilter}}";
      priceFilter = priceFilter ? priceFilter : "{{priceFilter}}";

      let newUrl = `http://localhost:3000/products?parent=${parent_id}&cate=${cate}&webFilter=${webFilter}&priceFilter=${priceFilter}&q=${key}&page=1`;
      location.href = newUrl;
    });

    $('.pagination').each(function () {
      
      const webFilter = "{{webFilter}}"
      const priceFilter = "{{priceFilter}}"
      const key = "{{key}}"
      const cate = {{ cate }}
      const current = {{ current }}
      const totalPage = {{ totalPage }}

      $("input[name=category][value=" + cate + "]").prop('checked', true);
      $("input[name=website][value=" + webFilter + "]").prop('checked', true);
      $("input[name=price][value=" + priceFilter + "]").prop('checked', true);

      if(totalPage != 0)
      {
        if (current == 1)
        $(this).append(`<li class="page-item disabled">
                        <a class="page-link" href="http://localhost:3000/products?cate=${cate}&webFilter=${webFilter}&priceFilter=${priceFilter}&q=${key}&page=1" tabindex="-1">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>`)
        else
        $(this).append(`<li class="page-item">
                        <a class="page-link" href="http://localhost:3000/products?cate=${cate}&webFilter=${webFilter}&priceFilter=${priceFilter}&q=${key}&page=1" tabindex="-1">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>`)

      var i = current > 5 ? current - 4 : 1
      if (i != 1)
        $(this).append(`<li class="page-item disabled"><a class="page-link">...</a></li>`)

      for (; i <= current + 4 && i <= totalPage; i++) {
      if (i == current) {
        $(this).append(`<li class="page-item active"><a class="page-link">${i}</a></li>`)
      }
      else
        $(this).append(`<li class="page-item">
                            <a class="page-link" href="http://localhost:3000/products?cate=${cate}&webFilter=${webFilter}&priceFilter=${priceFilter}&q=${key}&page=${i}">${i}</a>
                        </li>`)

      if (i == current + 4 && i < totalPage)
        $(this).append(`<li class="page-item disabled"><a class="page-link">...</a></li>`)
      }

      if (current == totalPage)
      $(this).append(`<li class="page-item disabled"><a class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a></li>`)
      else
      $(this).append(`<li class="page-item"><a class="page-link" href="http://localhost:3000/products?cate=${cate}&webFilter=${webFilter}&priceFilter=${priceFilter}&q=${key}&page=${totalPage}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Last</span>
                    </a></li>`)
      }
    });

    $('.head i').on('click', function(){
      $("input[name=category][value=" + 0 + "]").prop('checked', true);
      $("input[name=website][value=" + 0 + "]").prop('checked', true);
      $("input[name=price][value=" + 0 + "]").prop('checked', true);

      const key = "{{key}}"
      let newUrl = `http://localhost:3000/products?parent=0&cate=0&webFilter=0&priceFilter=0&q=${key}&page=1`;
      location.href = newUrl;
    })
  })
</script>
{{/section}}
<!-- end tiki Deal Header -->
<div class='container'>
  <div class="row">
    <div class='tiki-deal-header'>
      <h4>{{titleSearch}}</h4>
    </div>
  </div>
  <div class='row'>
    <!-- side-bar -->
    <!-- side-bar -->
    <p id="parentCategoryId" data-id={{parent_category}} hidden></p>
    <div class='side-bar col-2'>
      <div class='head d-flex justify-content-around'>
        <h5>Bộ lọc tìm kiếm</h5>
        <i class="fas fa-sync-alt mt-2" data-toggle="tooltip" data-placement="right" title="Reset"></i>
      </div>
      <ul class='filter-category'>
        <h6>Trang web</h6>
        <li><input type='radio' id="priceAsc" name="website" value="1"/>
          <label>Sendo</label>
        </li>
        <li><input type='radio' id="priceAsc" name="website" value="2"/>
          <label>Tiki</label>
        </li>
        <li><input type='radio' id="priceAsc" name="website" value="3"/>
          <label>Shopee</label>
        </li>
        <li><input type='radio' id="priceAsc" name="website" value="4"/>
          <label>Lazada</label>
        </li>
        <br />
        <h6>Giá</h6>
        <li>
          <input type="radio" id="priceAsc" name="price" value="1">
          <label for="priceAsc">Tăng dần</label><br>
        </li>
        <li>
          <input type="radio" id="priceDes" name="price" value="2">
          <label for="priceDes">Giảm dần</label><br>
        </li>
        <br />
      <h6>Danh Mục</h6>
        {{#each subCategory}}
        <li><input type='radio' id="priceAsc" name="category" value="{{id}}"/>
          <label>{{name}}</label>
        </li>
        {{/each}}
      </ul>
      
    </div>
    <!-- end side-bar -->

    <div class='product-listing col-10'>
      <div class='items'>
        <div class='row'>
          {{#each items}}
          <a class='col-4 deal-item' href='http://localhost:3000/products/{{id_match}}' data-id='6836987'>
            <div class='image'>
              {{!-- <div class='discount-badge'>
                47%
              </div> --}}
              <img class='lazy' style='display: inline;' src='{{Image}}' />
            </div>
      
            <div class='title d-flex'>
              {{#compare NguonDuLieu 1 operator="=="}}
              <img class='icon-market' src='/image/img-product/sendo.jpeg' alt='' />
              {{/compare}}
              {{#compare NguonDuLieu 2 operator="=="}}
              <img class='icon-market' src='/image/img-product/tiki.jpg' alt='' />
              {{/compare}}
              {{#compare NguonDuLieu 3 operator="=="}}
              <img class='icon-market' src='/image/img-product/shopee.jpg' alt='' />
              {{/compare}}
              {{#compare NguonDuLieu 4 operator="=="}}
              <img class='icon-market' src='/image/img-product/lazada.jpeg' alt='' />
              {{/compare}}
              <div class="nameProduct">
                {{Name}}
              </div>

            </div>
            <div class='price-sale'>
              <b class="ml-5">{{priceString}}</b>
              ₫
            </div>
          </a>
          {{/each}}
        </div>
        <div class='row justify-content-center' style='margin-bottom: 20px;'>
          <nav aria-label='Page navigation example'>
            <ul class='pagination'></ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>